
body {margin: 0px;
    

    height: 100svh;
    
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
            font-style: normal}



#AboutKingsway1 {background-color: rgba(65, 9, 9, 0.867);
    color: white;
     position: sticky;
        top: 0;
        display: grid;
       justify-content: center;
      z-index: 1000;
        padding: 10px;
    }
    

    h1 {color: rgb(0, 0, 0);
    justify-content: center;}



.Link {background-color: rgba(65, 9, 9, 0.089);
padding: 5px,2px;
text-decoration: underline;
color: white; border-radius: 5px;
display: grid;
justify-content: center};

.Link:hover {color: rgb(240, 240, 161);}
.Link:active {color: rgb(205, 99, 67);}

#hi {display: flex;
}

#hhet {color: white;
    display: flex;
justify-content: space-evenly;}
#Link22 { color:white;
    display:flex;
    justify-content: left;}

#Link1 {color: white;
    display:flex;
    justify-content: center;}

#Link2 {color: white;
    display: flex;
    justify-content: right;}

#Content {background-image:url(images/images\ \(1\).jpeg);
    margin: 0px;
     
    
 position: relative;
        width: 100%;
        height: 100svh;
        background-size: cover;
        background-position: auto;
        background-repeat: no repeat;
        
    }
    
    #Content::before {
        
        position: absolute;
        top: 10;
        left: 10;
        width: 100%;
        height: 100%;
        overlay: rgba(255, 255, 255, 0.767);
        

}


#sagra {display: flex;
   justify-content: auto; }

#heh {
    display: table-row;
    justify-content: right;}

    .Paragraph {width: 50%;            
        margin: auto; 
             
        padding: 8px;          
        text-align: center;
    line-height: 1.5;}

        #wahara {display: grid;
            justify-content: center;
       size: 20; }

       
    

            
            



h2 {background-color: rgba(65, 9, 9, 0.858);
    padding: 5px,2px;
    width: auto;
    text-decoration: none;
    color: rgb(249, 242, 242); border-radius: 5px;
    display: grid;
    justify-content: space-evenly;

}

footer {background-color: rgba(91, 17, 17, 0.958) ;
    display: grid;
    padding: 20px;
    height: 50px;
    justify-items: space-evenly;
    position: sticky;
    bottom: 10px;}


#CONTent {

display: flex;
justify-content: space-between;

    margin: 0px;
    padding: 20px;
    background: rgba(91, 17, 17, 0.863);
    text-align: center;}
    
    .navLinks {color: white;}

    

    #CONTent {display: flex;
        padding: 20px, 0px;
        justify-content: space-evenly;
        
        bottom: 0px;}

        .navLinks {color: white;
            display: grid;
        justify-content: space-between;}

        .navLinks:hover {color: rgb(255, 229, 127);}

        .navLinks:active {color: yellow;}

        
