body { margin: 0px;
    

    height: 200svh;
    
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
            font-style: normal
}

:root {/* CSS HEX */
    --white: #fefffeff;
    --mint-green: #e5fcf5ff;
    --dark-purple: #210124ff;
    --claret:rgba(65, 9, 9, 0.856);}

   
    html, body {
        height: 100%;
        overflow-y: auto; /* Allow scrolling */
    }
    
    
         
    .sneaky {
    justify-content: flex-start;}

    .sneakyheh {
    justify-content: center;}

    .sneakylinks {
    justify-content: right;}

#EXTRAHeader {
    background-color:var(--claret);
    position: sticky;
    top: 0;
    
    justify-content: center;
    z-index: 2000;
    padding: 10px;} 

    #powerluc {
        display: flex;
        justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
        }



#hehe {justify-content: center;


color: black; border-radius: 5px;
display: grid;
justify-content: center}

.sneaky, .sneakyheh, .sneakylinks {display:grid;
justify-content: center;
color: white;}

.sneaky:hover{
    color: red;}

.sneakyheh:hover{
    color: red;}

.sneakylinks:hover {
    color: red;}

.sneaky:active {color: var(--mint-green);}

.sneakyheh:active {
    color: var(--mint-green);}

    .sneakylinks:active {
        color: var(--mint-green);}



.Plans {font-weight: bold;}

.ganglish {
   
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
    ul  {
        margin: 0;
        padding: 0;
    }
    
 
footer {
    
    display: grid;
    margin: 0%;

}

#yyes { background-color: var(--claret);
    color:  white;
    text-align: center; 
    display: grid; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    padding: 10px 0px; }
